/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
----------------------
   TABLE OF CONTENT
----------------------

1. Variables
2. General Styles
3. Components
4. Specific Styles
  a. Jumbotron
  b. Profiles
  c. Date
  d. Video
  e. Event Description
  f. Gallery
  g. Wedding Wishes
5. Footer
*/

/*
------------------
   1. VARIABLES
------------------
*/

/* 'Playfair Display', serif */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&display=swap');
/* Lato, sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Playfair+Display:ital,wght@1,400;1,500&display=swap');

:root {
  /*  Colors  */
  --neutral-light: #d8e3e7;
  --neutral-dark: #132c33;
  --primary-light: #51c4d3;
  --primary-dark: #126e82;
  --light: white;
  --dark: black;

  /*  Fonts   */
  --font-size-base: 14px;
  --font-size-large: 1.5rem;
  --font-size-larger: 2rem;
  --font-size-small: 0.875rem;
  --font-size-smaller: 0.75rem;

  /* Media Query Breakpoints */
  --tablet-screen: 34.285rem;
  --laptop-screen: 54.857rem;
  --desktop-screen: 73.132rem;
}

/*
-----------------------
   2. GENERAL STYLES
-----------------------
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-size: var(--font-size-base);
  font-family: Lato, sans-serif;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

section.full-height {
  min-height: 100vh;
}

.title {
  font-size: var(--font-size-larger);
}

.sub-title {
  font-size: var(--font-size-large);
}

.section-title {
  font-size: var(--font-size-large);
  margin-bottom: 1rem;
}

.title,
.sub-title,
.section-title,
.ampersand {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

/*
-------------------
   3. COMPONENTS
-------------------
*/

a {
  text-decoration: none;
}

button,
.btn {
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.3rem;
  -webkit-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

audio {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1rem;
  width: 5rem;
  background-color: var(--primary-dark);
}

/*
------------------------
   4. SPECIFIC STYLES
------------------------
*/

/* a. Jumbotron */

.jumbotron {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.jumbotron picture,
.jumbotron picture img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.jumbotron::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(70%, transparent),
    to(#ffffffee)
  );
  background: -o-linear-gradient(top, transparent 70%, #ffffffee 100%);
  background: linear-gradient(to bottom, transparent 70%, #ffffffee 100%);
}

h1.sub-title,
h1.title {
  z-index: 100;
  color: var(--light);
}

/* b. Profiles */

.profiles {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: (auto 1fr) [2];
  grid-template-rows: repeat(2, auto 1fr);
  text-align: center;
  padding: 2rem 0.5rem;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ffffff99),
      color-stop(30%, #ffffff33),
      color-stop(70%, #ffffff33),
      to(#ffffff99)
    ),
    url('../images/background-texture_1.jpg');
  background-image: -o-linear-gradient(
      top,
      #ffffff99 0%,
      #ffffff33 30%,
      #ffffff33 70%,
      #ffffff99 100%
    ),
    url('../images/background-texture_1.jpg');
  background-image: linear-gradient(
      to bottom,
      #ffffff99 0%,
      #ffffff33 30%,
      #ffffff33 70%,
      #ffffff99 100%
    ),
    url('../images/background-texture_1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.profiles > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.profiles > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

@media only screen and (min-width: 54.857rem) {
  .profiles {
    -ms-grid-columns: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;
    -ms-grid-rows: (auto) [2];
    grid-template-rows: repeat(2, auto);
  }
  .profiles > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .profiles > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .profiles > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .profiles > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .profiles > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .profiles > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }

  .profiles .section-title {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }

  .profiles .ampersand {
    -ms-grid-row-align: center;
    -ms-grid-column-align: center;
    place-self: center;
  }
}

.profile > img {
  min-width: 10rem;
  width: 80%;
  max-width: 20rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--neutral-dark);
  font-size: var(--font-size-small);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.5rem;
}

.profile-link img {
  width: var(--font-size-small);
  width: 0.875rem;
}

.ampersand {
  font-size: 6rem;
}

/* c. Date */

.date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 2rem 0.5rem;
  background: var(--primary-dark);
  color: var(--light);
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 2rem;
}

.save-the-date {
  min-width: 5rem;
  width: 60%;
  max-width: 15rem;
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: space-evenly;
}

.countdown-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.countdown-item:not(:first-child) {
  margin-left: 3rem;
}

.countdown-item span {
  display: block;
  font-size: var(--font-size-larger);
}

/* d. Video */

.video {
  text-align: center;
  padding: 2rem 0.5rem;
}

.video video {
  background: #f1f1f1;
  margin: 1rem 0;
  min-width: 10rem;
  width: 90%;
  max-width: 50rem;
}

.video video img {
  width: 100%;
}

/* e. Event Description */

.event-description {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 1rem;
  text-align: center;
  padding: 2rem 0.5rem;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#ffffff99),
      color-stop(#ffffff33),
      color-stop(#ffffff33),
      to(#ffffff99)
    ),
    url('../images/background-wedding.jpg');
  background-image: -o-linear-gradient(
      top,
      #ffffff99,
      #ffffff33,
      #ffffff33,
      #ffffff99
    ),
    url('../images/background-wedding.jpg');
  background-image: linear-gradient(
      to bottom,
      #ffffff99,
      #ffffff33,
      #ffffff33,
      #ffffff99
    ),
    url('../images/background-wedding.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 54.857rem) {
  .event-description {
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
}

.desc-date {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: (auto) [2];
  grid-template-columns: repeat(2, auto);
  -ms-grid-rows: (auto) [3];
  grid-template-rows: repeat(3, auto);
}

.desc-date > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.desc-date > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.desc-date > *:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.desc-date > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.desc-date > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.desc-date > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.desc-date__day {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}

.desc-date__date {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  font-size: var(--font-size-larger);
  -ms-grid-column-align: end;
  justify-self: end;
  -ms-grid-row-align: center;
  align-self: center;
}

.desc-date__month,
.desc-date__year {
  -ms-grid-column-align: start;
  justify-self: start;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.desc-time span {
  display: block;
}

.desc-time span:first-of-type,
.desc-schedule span:first-of-type,
.desc-location span:first-of-type {
  font-size: var(--font-size-large);
  margin-bottom: 0.5rem;
}

.desc-schedule span {
  display: block;
}

.desc-schedule * + * {
  /* not first */
  margin: 0 0.5rem;
}

.desc-schedule p {
  margin-top: 0.5rem;
}

.desc-location p {
  margin: 0.5rem 0;
}

.view-map-button {
  display: inline-block;
  border: 1px solid var(--neutral-dark);
  color: var(--neutral-dark);
}

.view-map-button:hover,
.view-map-button:focus {
  background: var(--neutral-dark);
  color: var(--neutral-light);
}

@media only screen and (min-width: 54.857rem) {
  .desc-date,
  .desc-location {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}

/* f. Gallery */

.gallery {
  text-align: center;
  padding: 2rem 0.5rem;
  background-color: var(--primary-dark);
  color: var(--light);
}

.react-photo-gallery--gallery {
  background-color: var(--light);
  padding: 0.2rem;
  margin-top: 0.5rem;
}

.react-photo-gallery--gallery img {
  -o-object-fit: cover;
  object-fit: cover;
}

/* g. Wedding Wishes */

.wedding-wishes {
  text-align: center;
  padding: 2rem 0.5rem;
}

.wishes-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem auto;
  min-width: 10rem;
  width: 90%;
  max-width: 30rem;
}

input.name {
  width: 100%;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--neutral-dark);
}

textarea.wish-input {
  width: 100%;
  resize: vertical;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid var(--neutral-dark);
}

input.btn[type='submit'] {
  background: transparent;
  border: 1px solid var(--neutral-dark);
}

input.btn[type='submit']:hover,
input.btn[type='submit']:focus {
  background: var(--neutral-dark);
  color: var(--neutral-light);
}

.wishes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0 1rem;
}

.wish-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: left;
  border-radius: 0.3rem;
  padding: 0.5rem 0.75rem;
  -webkit-box-shadow: 1px 1px 3px lightgray;
  box-shadow: 1px 1px 3px lightgray;
}

.wish-name {
  font-weight: bold;
}

.wish-date {
  font-size: var(--font-size-smaller);
}

/*
---------------
   5. FOOTER
---------------
*/

footer {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#04040455),
      color-stop(#04040433),
      to(#04040455)
    ),
    url('../images/background-footer.jpg');
  background-image: -o-linear-gradient(top, #04040455, #04040433, #04040455),
    url('../images/background-footer.jpg');
  background-image: linear-gradient(to bottom, #04040455, #04040433, #04040455),
    url('../images/background-footer.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 4rem 0;
  color: var(--light);
}
